<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Profile Settings</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Profile Settings</h1>
         <h2>Login Details</h2>
         <p class="to_remove"> This is a test to see how this behaves </p>
         <h2>Password</h2>
         <p class="to_remove"> This is a test to see how this behaves </p>
         <h2>Personal Details</h2>
         <p class="to_remove"> This is a test to see how this behaves </p>
      </div>
      {% endblock %}
   </body>
