<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Manage All Access Codes</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Manage All Access Codes</h1>
         {% if user.access_codes|length > 0 %}
            <p>There are {{ user.access_codes|length }} codes to display here.</p>
         <table>
            <tr>
               <th>Access Code</th>
               <th>Document</th>
               <th>Expiry Time</th>
            </tr>

            {% for code in user.access_codes %}
            <tr>
               <td><a href="{{ url_for('manage_access_code', code_to_retrieve=code.code_id) }}">{{code.generated_code}}</a></td>
               <td>{{code.uploaded_document.document_type}}</td>
               <td>{{code.expiry_to_string}}</td>
            </tr>
            {% endfor %}

         </table>
         {% else %}
            <p>There are no uploaded codes to manage.</p>
         {% endif %}
         <p class="to_remove"> This is a test to see how this behaves </p>
      </div>
      {% endblock %}
   </body>
