<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Finish</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <p class="to_remove"> This is where the navigation circles should go </p>
         <h2>Finish</h2>
         <p>Your document has been successfully uploaded.</p>
         <h2>Next Steps</h2>
         <p class="to_remove"> OPTION TO GET DOCUMENT VALIDATED </p>
         <p class="to_remove"> OPTION TO RETURN TO MAIN MENU </p>
         <h2>Organisation Checker</h2>
         <p class="to_remove"> DROPDOWN TO CHECK ORGS THAT NEED VALIDATED DOCUMENTS </p>
         <p class="to_remove"> END OF PROCESS </p>
      </div>
      {% endblock %}
   </body>
