<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Add Document Details</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number visited_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">2</div>
               Upload Image
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">3</div>
               Personal Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number current_number">4</div>
               Document Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">5</div>
               Finish
            </div>
         </div>
         <h2>Add Document Details</h2>
         <p>Please provide the following details for the {{ doc.type }}: <div class="to_remove">Help Tooltip Here</div></p>

         {% if doc.type == "Marriage Certificate" %}
         <form id="add_marriage_cert_details">
            <label for="marriage_date_day">Marriage Date (dd / mm / yyyy): </label>
            <input type="text" id="marriage_date_day" name="marriage_date_day">
            <input type="text" id="marriage_date_month" name="marriage_date_month">
            <input type="text" id="marriage_date_year" name="marriage_date_year"><br />
            <label for="marriage_age_cert">Age On Certificate: </label>
            <input type="text" id="marriage_age_cert" name="marriage_age_cert"><br />
            <label for="marriage_reg_district">Registration District: </label>
            <input type="text" id="marriage_reg_district" name="marriage_reg_district"><br />
            <label for="marriage_no">Marriage Number: </label>
            <input type="text" id="marriage_no" name="reg_district"><br />
         </form>
         {% endif %}

         {% if doc.type == "Deed Poll" %}
         <form id="add_deed_poll_details">
            <label for="deed_date_day">Date on Deed Poll: </label>
            <input type="text" id="deed_date_day" name="deed_date_day">
            <input type="text" id="deed_date_month" name="deed_date_month">
            <input type="text" id="deed_date_year" name="deed_date_year"><br /><br />
            <label>Has this been registered with the courts:</label><br />
            <input type="radio" id="deed_poll_reg_yes" name="deed_registered" value="yes">
            <label for="deed_poll_reg_yes">Yes</label><br />
            <input type="radio" id="deed_poll_reg_no" name="deed_registered" value="no">
            <label for="deed_poll_reg_no">No</label><br />
         </form>
         {% endif %}

         {% if doc.type == "Decree Absolute" %}
         <form id="add_decree_absolute_details">
            <label for="decree_date_day">Decree Date: </label>
            <input type="text" id="decree_date_day" name="decree_date_day">
            <input type="text" id="decree_date_month" name="decree_date_month">
            <input type="text" id="decree_date_year" name="decree_date_year"><br />
            <label for="decree_issuing_court">Issuing Court: </label>
            <input type="text" id="decree_issuing_court" name="decree_issuing_court"><br />
            <label for="decree_no_of_matter">Number of Matter: </label>
            <input type="text" id="decree_no_of_matter" name="decree_no_of_matter"><br />
         </form>
         {% endif %}
         <p class="to_remove"> <a class="general_link" href="{{ url_for('new_document_confirm_document_details') }}">Navigate to Step 7</a> </p>
      </div>
      {% endblock %}
   </body>
