<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Add Document Details</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number visited_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">2</div>
               Upload Image
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">3</div>
               Personal Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number current_number">4</div>
               Document Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">5</div>
               Finish
            </div>
         </div>
         <h2>Add Document Details</h2>
         <div class="help_tooltip">
            <img class="help_icon" src={{url_for('static', filename='help.png')}}> Why do I need to provide this?
            <span class="help_tooltip_content">Providing this information allows for this document to be easily
            validated if required, and can serve as additional checks for organisations requesting your data.</span>
         </div>

         {% if feedback %}
            <p class="failure_message">{{ feedback }}</p>
         {% endif %}

         <p>Please provide the following details for the {{ doc.document_type }}:</p>

         {% if doc.document_type == "Marriage Certificate" %}
         <form id="add_marriage_cert_details" action="{{ url_for('new_document_add_document_details') }}"
               method="post">
            <label for="marriage_date_day" class="form_evener">Marriage Date (dd/mm/yyyy): </label>
            <input type="text" id="marriage_date_day" name="marriage_date_day" maxlength="2" class="dateboxes_two"
            {% if form_data %} value="{{ form_data.marriage_day }}"
            {% elif doc.change_of_name_date != None %} value="{{ doc.change_of_name_date.strftime('%d') }}"{% endif %}>
            <input type="text" id="marriage_date_month" name="marriage_date_month" maxlength="2" class="dateboxes_two"
            {% if form_data %} value="{{ form_data.marriage_month }}"
            {% elif doc.change_of_name_date != None %} value="{{ doc.change_of_name_date.strftime('%m') }}"{% endif %}>
            <input type="text" id="marriage_date_year" name="marriage_date_year" maxlength="4" class="dateboxes_four"
            {% if form_data %} value="{{ form_data.marriage_year }}"
            {% elif doc.change_of_name_date != None %} value="{{ doc.change_of_name_date.strftime('%Y') }}"{% endif %}><br />
            <label for="marriage_age_cert" class="form_evener">Age On Certificate: </label>
            <input type="text" id="marriage_age_cert" name="marriage_age_cert"
            {% if form_data %} value="{{ form_data.marriage_age }}"
            {% elif doc.age_on_certificate != None %} value="{{ doc.age_on_certificate }}"{% endif %}><br />
            <label for="marriage_reg_district" class="form_evener">Registration District: </label>
            <input type="text" id="marriage_reg_district" name="marriage_reg_district"
            {% if form_data %} value="{{ form_data.marriage_reg_district }}"
            {% elif doc.registration_district != None %} value="{{ doc.registration_district }}"{% endif %}><br />
            <label for="marriage_no" class="form_evener">Marriage Number: </label>
            <input type="text" id="marriage_no" name="marriage_no"
            {% if form_data %} value="{{ form_data.marriage_no }}"
            {% elif doc.marriage_number != None %} value="{{ doc.marriage_number }}"{% endif %}><br />
         </form>

         <p>
            <form action="{{ url_for('new_document_confirm_personal_details') }}" >
               <button class="process_back_button" type="submit">Back</button>
            </form>
            <button form="add_marriage_cert_details" class="process_continue_button">Next</button>
         </p>
         {% endif %}

         {% if doc.document_type == "Deed Poll" %}
         <form id="add_deed_poll_details" action="{{ url_for('new_document_add_document_details') }}"
               method="post">
            <label for="deed_date_day" class="form_evener">Deed Poll Date (dd/mm/yyyy): </label>
            <input type="text" id="deed_date_day" name="deed_date_day" maxlength="2" class="dateboxes_two"
            {% if form_data %} value="{{ form_data.deed_date_day }}"
            {% elif doc.change_of_name_date != None %} value="{{ doc.change_of_name_date.strftime('%d') }}"{% endif %}>
            <input type="text" id="deed_date_month" name="deed_date_month" maxlength="2" class="dateboxes_two"
            {% if form_data %} value="{{ form_data.deed_date_month }}"
            {% elif doc.change_of_name_date != None %} value="{{ doc.change_of_name_date.strftime('%m') }}"{% endif %}>
            <input type="text" id="deed_date_year" name="deed_date_year" maxlength="4" class="dateboxes_four"
            {% if form_data %} value="{{ form_data.deed_date_year }}"
            {% elif doc.change_of_name_date != None %} value="{{ doc.change_of_name_date.strftime('%Y') }}"{% endif %}><br /><br />
            <label>Has this been registered with the courts:</label><br />
            <input type="radio" id="deed_poll_reg_yes" name="deed_registered" value="yes"
            {% if form_data %}
               {% if form_data.deed_registered == 'yes' %} checked="checked"
               {% elif form_data.deed_registered != 'no' and doc.registered_with_courts  == True %} checked="checked" {% endif %}
            {% elif doc.registered_with_courts == True %} checked="checked"
            {% endif %}>
            <label for="deed_poll_reg_yes">Yes</label><br />
            <input type="radio" id="deed_poll_reg_no" name="deed_registered" value="no"
            {% if form_data %}
               {% if form_data.deed_registered == 'no' %} checked="checked"
               {% elif form_data.deed_registered != 'yes' and not doc.registered_with_courts == False %} checked="checked" {% endif %}
            {% elif doc.registered_with_courts == False %} checked="checked"
            {% endif %}>
            <label for="deed_poll_reg_no">No</label><br />
         </form>

         <p>
            <form action="{{ url_for('new_document_confirm_personal_details') }}">
               <button class="process_back_button" type="submit">Back</button>
            </form>
            <button form="add_deed_poll_details" class="process_continue_button">Next</button>
         </p>
         {% endif %}

         {% if doc.document_type == "Decree Absolute" %}
         <form id="add_decree_absolute_details" action="{{ url_for('new_document_add_document_details') }}"
               method="post">
            <label for="decree_date_day" class="form_evener">Decree Date (dd/mm/yyyy): </label>
            <input type="text" id="decree_date_day" name="decree_date_day" maxlength="2" class="dateboxes_two"
            {% if form_data %} value="{{ form_data.decree_date_day }}"
            {% elif doc.change_of_name_date != None %} value="{{ doc.change_of_name_date.strftime('%d') }}"{% endif %}>
            <input type="text" id="decree_date_month" name="decree_date_month" maxlength="2" class="dateboxes_two"
            {% if form_data %} value="{{ form_data.decree_date_month }}"
            {% elif doc.change_of_name_date != None %} value="{{ doc.change_of_name_date.strftime('%m') }}"{% endif %}>
            <input type="text" id="decree_date_year" name="decree_date_year" maxlength="4" class="dateboxes_four"
            {% if form_data %} value="{{ form_data.decree_date_year }}"
            {% elif doc.change_of_name_date != None %} value="{{ doc.change_of_name_date.strftime('%Y') }}"{% endif %}><br />
            <label for="decree_issuing_court" class="form_evener">Issuing Court: </label>
            <input type="text" id="decree_issuing_court" name="decree_issuing_court"
            {% if form_data %} value="{{ form_data.decree_issuing_court }}"
            {% elif doc.issuing_court != None %} value="{{ doc.issuing_court }}"{% endif %}><br />
            <label for="decree_no_of_matter" class="form_evener">Number of Matter: </label>
            <input type="text" id="decree_no_of_matter" name="decree_no_of_matter"
            {% if form_data %} value="{{ form_data.decree_no_of_matter }}"
            {% elif doc.number_of_matter != None %} value="{{ doc.number_of_matter }}"{% endif %}><br />
         </form>

         <p>
            <form action="{{ url_for('new_document_confirm_personal_details') }}">
               <button class="process_back_button" type="submit">Back</button>
            </form>
            <button form="add_decree_absolute_details" class="process_continue_button">Next</button>
         </p>
         {% endif %}

      </div>
      {% endblock %}
   </body>
