<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Confirm Document Details</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number visited_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">2</div>
               Upload Image
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">3</div>
               Personal Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number current_number">4</div>
               Document Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">5</div>
               Finish
            </div>
         </div>
         <h2>Confirm Document Details</h2>

         {% if feedback %}
            <p class="failure_message">{{ feedback }}</p>
         {% endif %}

         <p>Please confirm the following details are correct for the {{ doc.document_type }}:</p>

         {% if doc.document_type == "Marriage Certificate" %}
         <p>
            <label for="marriage_date" class="label_float">Marriage Date: </label>
            <div id="marriage_date"> {{ doc.change_of_name_date_as_string }} </div><br />
            <label for="marriage_age_cert" class="label_float">Age On Certificate: </label>
            <div id="marriage_age_cert">{{ doc.age_on_certificate }}</div><br />
            <label for="marriage_reg_district" class="label_float">Registration District: </label>
            <div id="marriage_reg_district">{{ doc.registration_district }}</div><br />
            <label for="marriage_no" class="label_float">Marriage Number: </label>
            <div id="marriage_no">{{ doc.marriage_number }}</div><br />
         </p>
         {% endif %}

         {% if doc.document_type == "Deed Poll" %}
         <p>
            <label for="deed_date" class="label_float">Date on Deed Poll: </label>
            <div id="deed_date"> {{ doc.change_of_name_date_as_string }} </div><br />
            <label for="deed_poll_reg" class="label_float">Has this been registered with the courts:</label>
            <div id="deed_poll_reg">
               {% if doc.registered_with_courts %}
               Yes
               {% else %}
               No
               {% endif %}
            </div><br />
         </p>
         {% endif %}

         {% if doc.document_type == "Decree Absolute" %}
         <p>
            <label for="decree_date" class="label_float">Decree Date: </label>
            <div id="decree_date"> {{ doc.change_of_name_date_as_string }} </div><br />
            <label for="decree_issuing_court" class="label_float">Issuing Court: </label>
            <div id="decree_issuing_court"> {{ doc.issuing_court }} </div><br />
            <label for="decree_no_of_matter" class="label_float">Number of Matter: </label>
            <div id="decree_no_of_matter"> {{ doc.number_of_matter }} </div><br />
         </p>
         {% endif %}

         <form id="doc_details_confirm" action="{{ url_for('new_document_confirm_document_details') }}"
               method="post">
            <input type="checkbox" id="doc_details_correct" name="doc_details_correct">
            <label for="doc_details_correct">I confirm all the details listed above are correct.</label><br /><br />
         </form>

         <p>
            <form action="{{ url_for('new_document_add_document_details') }}">
               <button class="process_back_button" type="submit">Back</button>
            </form>
            <button form="doc_details_confirm" class="process_continue_button">Submit</button>
         </p>
      </div>
      {% endblock %}
   </body>
