<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Confirm Your Details</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <p class="to_remove"> This is where the navigation circles should go </p>
         <h2>Confirm Your Details</h2>
         <p>Please confirm the following details are correct:</p>
         <p>
            <label for="prev_forenames" class="label_float">Previous Forename(s): </label>
            <div id="prev_forenames">(data here)</div><br />
            <label for="forenames" class="label_float">New Forename(s): </label>
            <div id="forenames">(data here)</div><br />
            <label for="prev_surname" class="label_float">Previous Surname: </label>
            <div id="prev_surname">(data here)</div><br />
            <label for="surname" class="label_float">New Surname: </label>
            <div id="surname">(data here)</div><br />
            <label for="address_name_no" class="label_float">House Name / Number: </label>
            <div id="address_name_no">(data here)</div><br />
            <label for="address_line_1" class="label_float">Address Line 1: </label>
            <div id="address_line_1">(data here)</div><br />
            <label for="address_line_2" class="label_float">Address Line 2: </label>
            <div id="address_line_2">(data here)</div><br />
            <label for="address_town_city" class="label_float">Town / City: </label>
            <div id="address_town_city">(data here)</div><br />
            <label for="address_postcode" class="label_float">Postcode: </label>
            <div id="address_postcode">(data here)</div><br /></p>
         <form id="personal_details_confirm">
            <input type="checkbox" id="personal_details_correct" name="personal_details_correct">
            <label for="personal_details_correct">I confirm all the details listed above are correct.</label><br /><br />
         </form>
         <p class="to_remove"> This is a test to see how this behaves </p>
         <p class="to_remove"> <a class="general_link" href="{{ url_for('new_document_add_document_details') }}">Navigate to Step 6</a> </p>
      </div>
      {% endblock %}
   </body>
