<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Your Details</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <p class="to_remove"> This is where the navigation circles should go </p>
         <h2>Your Details</h2>
         <p>Please provide the following details: <div class="to_remove">Help Tooltip Here</div></p>
         <form id="add_personal_details">
            <label for="prev_forenames">Previous Forename(s): </label>
            <input type="text" id="prev_forenames" name="prev_forenames"><br />
            <label for="forenames">New Forename(s): </label>
            <input type="text" id="forenames" name="forenames"><br />
            <label for="prev_surname">Previous Surname: </label>
            <input type="text" id="prev_surname" name="prev_surname"><br />
            <label for="surname">New Surname: </label>
            <input type="text" id="surname" name="surname"><br />
            <label for="address_name_no">House Name / Number: </label>
            <input type="text" id="address_name_no" name="address_name_no"><br />
            <label for="address_line_1">Address Line 1: </label>
            <input type="text" id="address_line_1" name="address_line_1"><br />
            <label for="address_line_2">Address Line 2: </label>
            <input type="text" id="address_line_2" name="address_line_1"><br />
            <label for="address_town_city">Town / City: </label>
            <input type="text" id="address_town_city" name="address_town_city"><br />
            <label for="address_postcode">Postcode: </label>
            <input type="text" id="address_postcode" name="address_postcode"><br />
         </form>
         <div>Uploaded Image:<br /><img class="upload_reference_image" src={{url_for('static', filename='placeholder_doc.png')}} /></div>
         <p class="to_remove"> This is a test to see how this behaves </p>
         <p class="to_remove"> <a class="general_link" href="{{ url_for('new_document_confirm_personal_details') }}">Navigate to Step 5</a> </p>
      </div>
      {% endblock %}
   </body>
