<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Document Selection</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number current_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">2</div>
               Upload Image
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">3</div>
               Personal Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">4</div>
               Document Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">5</div>
               Finish
            </div>
         </div>
         <h2>Document Selection</h2>
         {% if feedback %}
            <p class="failure_message">{{ feedback }}</p>
         {% endif %}
         <p>Please select the Marriage Certificate to associate with this Decree Absolute:</p>
         <form id="cert_details" action="{{ url_for('new_document_decree_absolute_certificate') }}" method="post">
            {% for doc in user.docs %}
               {% if doc.document_type == "Marriage Certificate" %}
                  <input type="radio" id="{{  doc.doc_type_with_date|replace(" ", "")|replace("/", "")|replace("(", "")|replace(")", "")  }}"
                     name="marriage_cert" value="{{ doc.document_id }}">
                  <label for="{{  doc.doc_type_with_date|replace(" ", "")|replace("/", "")|replace("(", "")|replace(")", "")  }}">
                     {{ doc.doc_type_with_date }}</label><br />
               {% endif %}
            {% endfor %}
         </form>
         <p>
            <form action="{{ url_for('new_document_selection') }}">
               <button class="process_back_button" type="submit">Back</button>
            </form>
            <button form="cert_details" class="process_continue_button">Next</button>
         </p>

      </div>
      {% endblock %}
   </body>
