<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Finish</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number visited_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">2</div>
               Upload Image
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">3</div>
               Personal Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">4</div>
               Document Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number current_number">5</div>
               Finish
            </div>
         </div>
         <h2>Finish</h2>
         <p>Your {{ doc.document_type }} has been successfully uploaded.</p>
         <h2>Next Steps</h2>
         {% if doc.document_verified_state.name != 'NOT_APPLICABLE' %}
            <div class="green_section">
               <h3>Get your document validated</h3>
               <p>You now have the option of getting your document validated by an appropriate organisation.  By getting your
                  document validated, organisations receiving this data will have the peace of mind to know that it is a
                  genuine document.  Getting the document validated is not required to use this service, however some organisations
                  may not accept documents if they have not been verified first.</p>
               <a href="{{ url_for('verify_document', code=0) }}">
                     <div class="recommended_actions_button promoted_action">Validate Document Now</div></a>
            </div>
            <p></p>
            <div class="darkened_section">
               <h3>Start using your document now</h3>
               <p>Alternatively you can start using your document now, and choose to get it validated at a later time if needed.</p>
               <a href="{{ url_for('account_home') }}">
                     <div class="recommended_actions_button">Return to Account Home</div></a>
            </div>
            <h2>Organisation Validation Checker</h2>
            <p>You can use the dropdown below to check if any of the organisations you need to notify requires your
               {{ doc.document_type }} to be validated first.</p>
               <select id="org" name="org">
                  <option></option>
                  {% for org in orgs %}
                     <option value="{{ org.org_id }}">{{ org.org_name }} -
                        {% if org.requires_verified %}
                           Requires Validated Document
                        {% else %}
                           No Requirements
                        {% endif %}</option>
                  {% endfor %}
               </select>
         {% else %}
            <p>You can now return to your account home to start using your document.</p>
            <a href="{{ url_for('account_home') }}">
               <div class="recommended_actions_button">Return to Account Home</div></a>
         {% endif %}
      </div>
      {% endblock %}
   </body>
