<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Upload Image</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number visited_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number current_number">2</div>
               Upload Image
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">3</div>
               Personal Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">4</div>
               Document Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">5</div>
               Finish
            </div>
         </div>
         <h2>Upload Image</h2>
         {% if feedback %}
            <p class="failure_message">{{ feedback }}</p>
         {% endif %}
         <p>Please upload an image of your {{doc.document_type}} using the form below:</p>
         <form id="file_upload" action="{{ url_for('new_document_upload_image') }}" method="post"
               enctype=multipart/form-data>
            <div class="placeholder_box">Drag image here <br />(placeholder)</div>
            or: <input type="file" id="user_file" name="user_file">
         </form>
         <p><div class="mini_info_header">Supported image formats:</div>
               <div class="mini_info_text">PNG, JPEG, JPG, GIF</div><br />
            <div class="mini_info_header">Maximum file size:</div>
               <div class="mini_info_text">10MB</div></p>
         {% if doc.uploaded_file_path != None %}
            <p class="to_remove">A file has been uploaded, so there is no need to add another file unless you need to
               replace the originally uploaded document.</p>
         {% endif %}
         <p>
         {% if doc.document_type == "Decree Absolute" %}
            <form action="{{ url_for('new_document_decree_absolute_certificate') }}">
         {% else %}
            <form action="{{ url_for('new_document_selection') }}">
         {% endif %}
               <button class="process_back_button" type="submit">Back</button>
            </form>
            <button form="file_upload" class="process_continue_button">Next</button>
         </p>
      </div>
      {% endblock %}
   </body>
