<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Your Details</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number visited_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">2</div>
               Upload Image
            </div>
            <div class="process_navigation_section">
               <div class="floating_number current_number">3</div>
               Personal Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">4</div>
               Document Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">5</div>
               Finish
            </div>
         </div>
         <h2>Your Details</h2>

         {% if feedback %}
            <p class="failure_message">{{ feedback }}</p>
         {% endif %}

         <p>Please provide the following details: <div class="to_remove">Help Tooltip Here</div></p>
         <form id="add_personal_details" action="{{ url_for('new_document_add_personal_details') }}" method="post">
            <p>Note: If your forename or surname has not changed, leave the applicable fields blank.</p>
            <label for="prev_forenames" class="form_evener">Previous Forename(s): </label>
            <input type="text" id="prev_forenames" name="prev_forenames"
            {% if form_data %} value="{{ form_data.prev_forenames }}"
            {% elif doc.old_forenames != None %} value="{{ doc.old_forenames }}" {% endif %}><br />
            <label for="prev_surname" class="form_evener">Previous Surname: </label>
            <input type="text" id="prev_surname" name="prev_surname"
            {% if form_data %} value="{{ form_data.prev_surname }}"
            {% elif doc.old_surname != None %} value="{{ doc.old_surname }}" {% endif %}><br /><br />

            <label for="forenames" class="form_evener">New Forename(s): </label>
            <input type="text" id="forenames" name="forenames"
            {% if form_data %} value="{{ form_data.forenames }}"
            {% elif doc.new_forenames != None %} value="{{ doc.new_forenames }}" {% endif %}><br />
            <label for="surname" class="form_evener">New Surname: </label>
            <input type="text" id="surname" name="surname"
            {% if form_data %} value="{{ form_data.surname }}"
            {% elif doc.new_surname != None %} value="{{ doc.new_surname }}" {% endif %}><br /><br />

            <p>Note: Please provide the address listed on the document uploaded.</p>
            <label for="address_name_no" class="form_evener">House Name / Number*: </label>
            <input type="text" id="address_name_no" name="address_name_no"
            {% if form_data %} value="{{ form_data.address_house_name_no }}"
            {% elif doc.address.house_name_no != None %} value="{{ doc.address.house_name_no }}" {% endif %}><br />
            <label for="address_line_1" class="form_evener">Address Line 1*: </label>
            <input type="text" id="address_line_1" name="address_line_1"
            {% if form_data %} value="{{ form_data.address_line_1 }}"
            {% elif doc.address.line_1 != None %} value="{{ doc.address.line_1 }}" {% endif %}><br />
            <label for="address_line_2" class="form_evener">Address Line 2: </label>
            <input type="text" id="address_line_2" name="address_line_2"
            {% if form_data %} value="{{ form_data.address_line_2 }}"
            {% elif doc.address.line_2 != None %} value="{{ doc.address.line_2 }}" {% endif %}><br />
            <label for="address_town_city" class="form_evener">Town / City*: </label>
            <input type="text" id="address_town_city" name="address_town_city"
            {% if form_data %} value="{{ form_data.address_city }}"
            {% elif doc.address.town_city != None %} value="{{ doc.address.town_city }}" {% endif %}><br />
            <label for="address_postcode" class="form_evener">Postcode*: </label>
            <input type="text" id="address_postcode" name="address_postcode"
            {% if form_data %} value="{{ form_data.address_postcode }}"
            {% elif doc.address.postcode != None %} value="{{ doc.address.postcode }}" {% endif %}><br />
            <p>* = Fields are mandatory</p>
         </form>
         <!--<div>Uploaded Image:<br /><img class="upload_reference_image"
         src={{url_for('static', filename='placeholder_doc.png')}} /></div>-->

         <p>
            <form action="{{ url_for('new_document_confirm_image') }}">
               <button class="process_back_button" type="submit">Back</button>
            </form>
            <button form="add_personal_details" class="process_continue_button">Next</button>
         </p>
      </div>
      {% endblock %}
   </body>
