<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Confirm Document Details</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number visited_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">2</div>
               Upload Image
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">3</div>
               Personal Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number current_number">4</div>
               Document Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">5</div>
               Finish
            </div>
         </div>
         <h2>Confirm Document Details</h2>

         {% if feedback %}
            <p class="failure_message">{{ feedback }}</p>
         {% endif %}

         <div class="spacer"></div>

         <div class="float_left">
            <p>Please confirm the following details are correct for the {{ doc.document_type }}:</p>

            <table>
            {% if doc.document_type == "Marriage Certificate" %}
               <tr>
                  <th>Marriage Date</th>
                  <td class="fixed_extender">{{ doc.change_of_name_date_as_string }}</td>
               </tr>
               <tr>
                  <th>Age On Certificate</th>
                  <td class="fixed_extender">{{ doc.age_on_certificate }}</td>
               </tr>
               <tr>
                  <th>Registration District</th>
                  <td class="fixed_extender">{{ doc.registration_district }}</td>
               </tr>
               <tr>
                  <th>Marriage Number</th>
                  <td class="fixed_extender">{{ doc.marriage_number }}</td>
               </tr>

            {% elif doc.document_type == "Deed Poll" %}
               <tr>
                  <th>Date on Deed Poll</th>
                  <td class="fixed_extender">{{ doc.change_of_name_date_as_string }}</td>
               </tr>
               <tr>
                  <th>Registered With Courts</th>
                  <td class="fixed_extender">{% if doc.registered_with_courts %}Yes{% else %}No{% endif %}</td>
               </tr>

            {% elif doc.document_type == "Decree Absolute" %}
               <tr>
                  <th>Decree Date</th>
                  <td class="fixed_extender">{{ doc.change_of_name_date_as_string }}</td>
               </tr>
               <tr>
                  <th>Issuing Court</th>
                  <td class="fixed_extender">{{ doc.issuing_court }}</td>
               </tr>
               <tr>
                  <th>Number of Matter</th>
                  <td class="fixed_extender">{{ doc.number_of_matter }}</td>
               </tr>
            {% endif %}
            </table>
            <p>
               <form id="doc_details_confirm" action="{{ url_for('new_document_confirm_document_details') }}"
                     method="post">
                  <input type="checkbox" id="doc_details_correct" name="doc_details_correct">
                  <label for="doc_details_correct">I confirm all the details listed above are correct.</label><br /><br />
               </form>
            </p>
         </div>
         <div class="upload_reference_image_div">Uploaded Image:<br />
            <img class="upload_reference_image" src={{url_for('static', filename='uploads/' + doc.uploaded_file_path)}} /></div>

         <div class="spacer"></div>

         <p>
            <form action="{{ url_for('new_document_add_document_details') }}">
               <button class="process_back_button" type="submit">Back</button>
            </form>
            <button form="doc_details_confirm" class="process_continue_button">Submit</button>
         </p>
      </div>
      {% endblock %}
   </body>
