<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Document Selection</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <p class="to_remove"> This is where the navigation circles should go </p>
         <h2>Document Selection</h2>
         <p>Please select the type of document you wish to upload:</p>
         <p><input type="radio" id="marriage_certificate" name="doc_type" value="male">
         <label for="marriage_certificate">Marriage Certificate</label><br />
         <input type="radio" id="deed_poll" name="doc_type" value="female">
         <label for="deed_poll">Deed Poll</label><br />
         <input type="radio" id="decree_absolute" name="doc_type" value="other">
            <label for="decree_absolute">Decree Absolute</label></p>
         <p>
            <a href="{{ url_for('account_home') }}"><div class="process_back_button">Back</div></a>
            <a href="{{ url_for('new_document_upload_image') }}"><div class="process_continue_button">Next</div></a>
         </p>
      </div>
      {% endblock %}
   </body>
