<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Confirm Your Details</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number visited_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">2</div>
               Upload Image
            </div>
            <div class="process_navigation_section">
               <div class="floating_number current_number">3</div>
               Personal Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">4</div>
               Document Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">5</div>
               Finish
            </div>
         </div>
         <h2>Confirm Your Details</h2>

         {% if feedback %}
            <p class="failure_message">{{ feedback }}</p>
         {% endif %}

         <p>Please confirm the following details are correct:</p>
         <table>
            {% if doc.old_forenames != "" %}
               <tr>
                  <th>Previous Forename(s)</th>
                  <td class="fixed_extender">{{ doc.old_forenames }}</td>
               </tr>
            {% endif %}
            {% if doc.old_surname != "" %}
               <tr>
                  <th>Previous Surname</th>
                  <td class="fixed_extender">{{ doc.old_surname }}</td>
               </tr>
            {% endif %}
            {% if doc.new_forenames != "" %}
               <tr>
                  <th>New Forename(s)</th>
                  <td class="fixed_extender">{{ doc.new_forenames }}</td>
               </tr>
            {% endif %}
            {% if doc.new_surname != "" %}
               <tr>
                  <th>New Surname</th>
                  <td class="fixed_extender">{{ doc.new_surname }}</td>
               </tr>
            {% endif %}
            <tr>
               <th>House Name / Number</th>
               <td class="fixed_extender">{{ doc.address.house_name_no }}</td>
            </tr>
            <tr>
               <th>Address Line 1</th>
               <td class="fixed_extender">{{ doc.address.line_1 }}</td>
            </tr>
            {% if doc.address.line_2 != "" %}
               <tr>
                  <th>Address Line 2</th>
                  <td class="fixed_extender">{{ doc.address.line_2 }}</td>
               </tr>
            {% endif %}
            <tr>
               <th>Town / City</th>
               <td class="fixed_extender">{{ doc.address.town_city }}</td>
            </tr>
            <tr>
               <th>Postcode</th>
               <td class="fixed_extender">{{ doc.address.postcode }}</td>
            </tr>
         </table>

         <div class="spacer"></div>
         <p>
            <form id="personal_details_confirm" action="{{ url_for('new_document_confirm_personal_details') }}"
                  method="post">
               <input type="checkbox" id="personal_details_correct" name="personal_details_correct">
               <label for="personal_details_correct">I confirm all the details listed above are correct.</label><br /><br />
            </form>
         </p>
         <p>
            <form action="{{ url_for('new_document_add_personal_details') }}">
               <button class="process_back_button" type="submit">Back</button>
            </form>
            <button form="personal_details_confirm" class="process_continue_button">Next</button>
         </p>
      </div>
      {% endblock %}
   </body>
