<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Your Details</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <p class="to_remove"> This is where the navigation circles should go </p>
         <h2>Your Details</h2>
         <p class="to_remove"> This is a test to see how this behaves </p>
         <p class="to_remove"> <a class="general_link" href="{{ url_for('new_document_confirm_personal_details') }}">Navigate to Step 5</a> </p>
      </div>
      {% endblock %}
   </body>
