<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Finish</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Add New Document</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number visited_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">2</div>
               Upload Image
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">3</div>
               Personal Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">4</div>
               Document Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number current_number">5</div>
               Finish
            </div>
         </div>
         <h2>Finish</h2>
         <p>Your {{ doc.document_type }} has been successfully uploaded.</p>
         <h2>Next Steps</h2>
         <p class="to_remove"> OPTION TO GET DOCUMENT VALIDATED </p>
         <p class="to_remove"> OPTION TO RETURN TO MAIN MENU </p>
         <h2>Organisation Validation Checker</h2>
         <p>You can use the dropdown below to check if any of the organisations you need to notify requires your
            {{ doc.document_type }} to be validated first.</p>
            <select id="org" name="org">
               <option></option>
               {% for org in orgs %}
                  <option value="{{ org.org_id }}">{{ org.org_name }} -
                     {% if org.requires_verified %}
                        Requires Verified Document
                     {% else %}
                        No Requirements
                     {% endif %}</option>
               {% endfor %}
            </select>
      </div>
      {% endblock %}
   </body>
