<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Add New Document - Finish</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Document Verification</h1>
         <p class="to_remove">This page would allow you to verify your uploaded document.</p>
         <h2>Admin Actions (Prototype Only)</h2>
         Set document to:<br />
         <a href="{{ url_for('verify_document', code=1) }}">
                     <div class="recommended_actions_button">Awaiting Verification</div></a>
         <a href="{{ url_for('verify_document', code=2) }}">
                     <div class="recommended_actions_button">Verification Failed</div></a>
         <a href="{{ url_for('verify_document', code=9) }}">
            <div class="recommended_actions_button">Approved</div></a>
      </div>
      {% endblock %}
   </body>
