<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: FAQ</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}

      {% if user.logged_in %}
      <div class="main_w_nav">
      {% else %}
      <div class="main">
      {% endif %}
         <h1>Frequently Asked Questions</h1>
         <p class="to_remove"> This is some text to answer questions about Change Your Name</p>
      </div>
      {% endblock %}
   </body>
