* {
  font-family: Calibri;
}

a, a:link, a:visited, a:hover, a:active  {
   text-decoration: none;
}

h1 {
  color: black;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
}

h2 {
  color: black;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 22px;
}

p {
  color: black;
  text-align: left;
}

header {
  /*margin: auto;*/
  position: fixed;
  top: 5px;
  /*width: 97%;*/
  width: 1000px;
  padding: 10px;
  height: 50px;
  line-height: 50px;
  background-color: #4472C4;
  color: white;
  vert-align: middle;
  border-style: solid;
  border-color: #2F528F;
}

footer {
  /*margin: auto;*/
  position: fixed;
  top: 965px;
  /*bottom: 5px;*/
  width: 1000px;
  padding: 10px;
  height: 50px;
  line-height: 50px;
  background-color: black;
  color: white;
  vert-align: middle;
  border-style: solid;
  border-color: #2F528F;
  font-size: large;
}

label {
/*  width:120px;
  clear:left;
  text-align:right;
  padding-right:10px;
  float:left;*/
  font-weight: bold;
/*  margin-bottom: 5px;*/
}

.label_float {
  float: left;
  padding-right: 10px;
}

/*input {
    float:left;
}*/

table, th, td {
  border: 1px solid black;
  border-spacing: 0;
}

th, td {
  padding: 5px;
}

th {
  text-align: left;
  background-color: #D0CECE;
}

td {
  background-color: #FFFFFF;
}

td.active {
  background-color: #CCFFCC;
}

.main {
  /*margin: auto;*/
  position: fixed;
  /*alignment: center;*/
  top: 85px;
  width: 1000px;
  height: 870px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F2F2F2;
  border-style: solid;
  border-color: #2F528F;
}

.nav {
  position: fixed;
  alignment: center;
  top: 85px;
  width: 170px;
  height: 870px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F2F2F2;
  border-style: solid;
  border-color: #2F528F;
}

.main_w_nav {
  position: fixed;
  top: 85px;
  left: 208px;
  width: 800px;
  height: 870px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F2F2F2;
  border-style: solid;
  border-color: #2F528F;
}

.darkened_section {
  background-color: #D0CECE;
  padding-left: 10px;
  padding-right: 10px;
  border-color: #2F528F;
  border-style: solid;
}

.header_text {
  float: left;
  color: white;
  margin-left: 20px;
  font-size: 36px;
}

.header_image {
  float: left;
  width: 101px;
  height: 50px;
}

.icon_image {
  alignment: center;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.upload_image {
  border-style: solid;
  border-color: #2F528F;
  width: 700px;
  height: 400px;
  overflow: hidden;
  object-fit: scale-down;
  background-color: #5D5C5C;
}

.upload_reference_image {
  border-style: solid;
  border-color: #2F528F;
  width: 250px;
  height: 175px;
  overflow: hidden;
  float: left;
}

.links, .field_values {
  float: left;
  text-align: left;
}

.copyright {
  float: right;
  text-align: right;
}

.footer_link:hover {
  font-weight: bold;
}

.nav_button {
  background-color: #D6DCE5;
  border-color: #2F528F;
  border-style: solid;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px #888888;
}

.nav_button:hover {
  background-color: #4472C4;
  box-shadow: 0 0;
}

.process_navigation_background {
  width: fit-content;
  background-color: #D0CECE;
  padding-left: 20px;
  padding-right: 10px;
  border-color: #2F528F;
  border-style: solid;
  overflow: hidden;
}

.process_navigation_section {
  width: 60px;
  float: left;
  text-align: center;
  font-size: small;
  margin-right: 10px;
  font-weight: bold;
  padding-bottom: 5px;
}

.floating_number {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #2F528F;
  border-style: solid;
  border-radius: 60px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.floating_number.unvisited_number {
  background-color: #FFFFFF;
}

.floating_number.visited_number {
  background-color: #D6DCE5;
}

.floating_number.current_number {
  background-color: #A9D18E;
}

.process_back_button {
  background-color: #7F7F7F;
}

.process_continue_button {
  background-color: #548235;
}

.process_back_button, .process_continue_button {
  border-color: #2F528F;
  border-style: solid;
  text-align: center;
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px #888888;
  float: left;
  display: inline;
  overflow: hidden;
}

.process_back_button:hover {
  background-color: #5D5C5C;
  box-shadow: 0 0;
}

.process_continue_button:hover {
  background-color: #314C1F;
  box-shadow: 0 0;
}

.recommended_actions_button {
  background-color: #7F7F7F;
  border-color: #2F528F;
  border-style: solid;
  text-align: center;
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px #888888;
  width: 250px;
  overflow: hidden;
}

.recommended_actions_button.promoted_action {
  background-color: #548235;
}

.recommended_actions_button:hover {
  background-color: #5D5C5C;
  box-shadow: 0 0;
}

.general_actions_button {
  background-color: #7F7F7F;
  border-color: #2F528F;
  border-style: solid;
  text-align: center;
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px #888888;
  width: 250px;
  overflow: hidden;
}

.general_actions_button:hover {
  background-color: #5D5C5C;
  box-shadow: 0 0;
}

.top_button {
  margin-top: 10px;
}

.bottom_button {
  position: absolute;
  bottom: 1px;
  width: 88%;
}

.general_link {
  text-decoration: underline;
  font-weight: bold;
}

.access_code_display {
  border: solid #2F528F;
  background-color: lightgoldenrodyellow;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100px;
  margin-bottom: 20px;
  margin-top: -5px;
  padding: 5px 10px;
}

.success_message {
  background-color: #cafca9;
  border-color: #548235;
  border-style: solid;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 4px;
}

.failure_message {
  background-color: #fabcbc;
  border-color: #983535;
  border-style: solid;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 4px;
}

#capcha_code {
  font-weight: bold;
  text-align: center;
  border-color: #5D5C5C;
  border-style: solid;
  width: 100px;
  padding: 2px;
  display: inline-block;
}

.spacer {
  clear: both;
}

.form_evener {
  display: inline-block;
  width: 200px;
  margin-bottom: 10px;
}

.form_evener_index {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
}

.to_remove {
  background-color: yellow;
  border-color: red;
  border-style: dashed;
}