<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main">
         <h1>New Account Creation</h1>
         <p>Please enter your details below to create a new account.</p>

         <form id="login">
            <label for="forenames">Forename(s): </label>
            <input type="text" id="forenames" name="forenames"><br />
            <label for="surname">Surname: </label>
            <input type="text" id="surname" name="surname"><br />
            <label for="email">Email Address: </label>
            <input type="text" id="email" name="email"><br />
            <label for="email_confirm">Confirm Email Address: </label>
            <input type="text" id="email_confirm" name="email_confirm"><br />
            <label for="pwd">Password: </label>
            <input type="password" id="pwd" name="password"><br />
            <label for="pwd_confirm">Confirm Password: </label>
            <input type="password" id="pwd_confirm" name="password_confirm"><br />
            <label for="capcha">CAPCHA: </label>
            <input type="text" id="capcha" name="capcha"><br /><br />
            <input type="checkbox" id="agreement" name="agreement">
               <label for="agreement">I confirm I have read and agree to the Terms & Conditions.</label><br /><br />
         </form>
         <p><button type="submit" form="login" value="Submit">Submit</button></p>
         <p class="to_remove"><a href="{{ url_for('new_account_click_link') }}">Click to see link page</a></p>
      </div>
      {% endblock %}
   </body>
