<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Generate Access Code - Confirm Access Code Details</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Generate Access Code</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number visited_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">2</div>
               Access Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number current_number">3</div>
               Confirm Details
            </div>
         </div>
         <h2>Confirm Access Code Details</h2>
         <p>Please provide the details for accessing your (value)</p>
            <label for="org">Who requires access: </label>
            <div id="org">(data here)</div><br />
            <label for="code_duration">Duration of access: </label>
            <div id="code_duration">(data here)</div><br />
         <p class="to_remove"> This is a test to see how this behaves </p>
         <p class="to_remove">END PROCESS - MANAGE CODE</p>
      </div>
      {% endblock %}
   </body>
