<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Generate Access Code - Confirm Access Code Details</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Generate Access Code</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number visited_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number visited_number">2</div>
               Access Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number current_number">3</div>
               Confirm Details
            </div>
         </div>
         <h2>Confirm Access Code Details</h2>

         {% if feedback %}
            <p class="failure_message">{{ feedback }}</p>
         {% endif %}

         <p>Please confirm the details for accessing your {{ code_to_use.uploaded_document.document_type }}:</p>
         <table>
            <tr>
               <th>Who requires access</th>
               <td>{{ code_to_use.access_for_org.org_name }}</td>
            </tr>
            <tr>
               <th>Duration of access</th>
               <td>{{ code_to_use.duration_time }} {{ code_to_use.duration_denominator }}</td>
            </tr>
         </table>

         <div class="spacer"></div>

         <p>
            <form id="confirm_code_details" action="{{ url_for('generate_code_confirm_access_details') }}" method="post">
               <input type="checkbox" id="code_agreement" name="code_agreement">
                  <label for="code_agreement">I confirm the details above are correct.</label><br /><br />
            </form>
         </p>

         <p>
            <form action="{{ url_for('generate_code_access_details') }}">
               <button class="process_back_button" type="submit">Back</button>
            </form>
            <button form="confirm_code_details" class="process_continue_button">Generate</button>
         </p>
      </div>
      {% endblock %}
   </body>
