<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Generate Access Code - Access Code Details</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Generate Access Code</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number visited_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number current_number">2</div>
               Access Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">3</div>
               Confirm Details
            </div>
         </div>
         <h2>Access Code Details</h2>
         <p>Please provide the details of the organisation that requires access to your {{ code_to_use.uploaded_document.document_type }}:</p>

         {% if feedback %}
            <p class="failure_message">{{ feedback }}</p>
         {% endif %}

         <form id="generate_code_for" action="{{ url_for('generate_code_access_details') }}" method="post">
            <label for="org" class="form_evener">Who requires access: </label>
            <select id="org" name="org">
               <option></option>
               {% for org in orgs %}
                  <option value="{{ org.org_id }}"
                    {% if form_data %}
                     {% if form_data.org == org.org_id %}selected{% endif %}
                    {% elif code_to_use.access_for_org.org_name == org.org_name %}selected{% endif %}>
                              {{ org.org_name }}</option>
               {% endfor %}
            </select><br />

            <label for="code_duration_number" class="form_evener">Duration of access: </label>
            <input type="text" id="code_duration_number" name="code_duration_number" maxlength="2" class="dateboxes_two"
            {% if form_data %} value="{{ form_data.code_duration_number }}"
            {% elif code_to_use.duration_time != None %} value="{{ code_to_use.duration_time }}" {% endif %}>
            <select id="code_duration_type" name="code_duration_type" class="denominator_box"
            {% if form_data %} value="{{ form_data.code_duration_type }}"
            {% elif code_to_use.duration_denominator != None %} value="{{ code_to_use.duration_denominator }}" {% endif %}>
               <option></option>
               <option value="hours"
                    {% if form_data %}
                     {% if form_data.code_duration_type == 'hours' %}selected{% endif %}
                    {% elif code_to_use.duration_denominator == 'hours' %}selected{% endif %}>Hour(s)</option>
               <option value="days"
               {% if form_data %}
                     {% if form_data.code_duration_type == 'days' %}selected{% endif %}
                    {% elif code_to_use.duration_denominator == 'days' %}selected{% endif %}>Day(s)</option>
            </select><br />
         </form>

         <p>
            <form action="{{ url_for('generate_code_document_selection') }}">
               <button class="process_back_button" type="submit">Back</button>
            </form>
            <button form="generate_code_for" class="process_continue_button">Next</button>
         </p>
      </div>
      {% endblock %}
   </body>
