<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Generate Access Code - Document Selection</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Generate Access Code</h1>
         <div class="process_navigation_background">
            <div class="process_navigation_section">
               <div class="floating_number current_number">1</div>
               Document Selection
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">2</div>
               Access Details
            </div>
            <div class="process_navigation_section">
               <div class="floating_number unvisited_number">3</div>
               Confirm Details
            </div>
         </div>
         <h2>Document Selection</h2>
         <p>Please select the document you wish to generate an access code for:</p>
         {% if feedback %}
            <p class="to_remove">{{ feedback }}</p>
         {% endif %}
         <form id="doc_to_select" action="{{ url_for('generate_code_document_selection') }}" method="post">
            {% for doc in user.docs %}
               <input type="radio" id="{{  doc.document_type|replace(" ", "")  }}" name="user_doc"
                  value="{{ doc.document_id }}">
               <label for="{{  doc.document_type|replace(" ", "")  }}">{{ doc.doc_type_with_date }}</label><br />
            {% endfor %}
         </form>

         <p>
            <form action="{{ url_for('account_home') }}">
               <button class="process_back_button" type="submit">Back</button>
            </form>
            <button form="doc_to_select" class="process_continue_button">Next</button>
         </p>
      </div>
      {% endblock %}
   </body>
