<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Manage All Documents</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Manage All Documents</h1>
         {% if user.docs|length > 0 %}
            <p>There are {{ user.docs|length }} documents to display here.</p>
         <table>
            <tr>
               <th>Document Type</th>
               <th>Date of Name Change</th>
               <th>Verified</th>
            </tr>

            {% for doc in user.docs %}
            <tr>
               <td><a href="{{ url_for('manage_document', doc_id=doc.document_id) }}">{{doc.document_type}}</a></td>
               <td>{{doc.change_of_name_date_as_string}}</td>
               {% if doc.document_verified_state.name == 'VERIFIED' %}
                  <td><img class="icon_image" title="Verified"
                           src={{url_for('static', filename='verified_tick.png')}}></td>
               {% elif doc.document_verified_state.name == 'AWAITING_VERIFICATION' %}
                  <td><img class="icon_image" title="Awaiting Verification"
                           src={{url_for('static', filename='awaiting_verification.png')}}></td>
               {% elif doc.document_verified_state.name == 'VERIFICATION_FAILED' %}
                  <td>Verification Failed</td>
               {% else %}
                  <td></td>
               {% endif %}
            </tr>
            {% endfor %}

         </table>
         {% else %}
            <p>There are no uploaded documents to manage.</p>
         {% endif %}

      </div>
      {% endblock %}
   </body>
