<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Manage Document ({{ doc.document_type }})</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Manage Document: {{ doc.document_type }}</h1>
         <h2>Document Summary</h2>
         <table>
            <tr>
               <th>Document ID</th>
               <td>{{ doc.document_id }}</td>
            </tr>
            <tr>
               <th>Uploaded Image File</th>
               <td class="bold_text"><a href="{{ url_for('view_document_image', doc_id=doc.document_id) }}">Click to view</a></td>
            </tr>
            <tr>
               <th>Verified Status</th>
               <td>{{ doc.document_verified_state.name|replace("_", " ")|capitalize }}</td>
            </tr>

            {% if doc.document_verified_state.name == 'AWAITING_VERIFICATION' %}
            <tr>
               <th>Being Verified By</th>
               <td>{{ doc.document_verified_org }}</td>
            </tr>

            {% elif doc.document_verified_state.name == 'VERIFIED' or doc.document_verified_state.name == 'VERIFICATION_FAILED' %}
            <tr>
               <th>Verified By</th>
               <td>{{ doc.document_verified_org }}</td>
            </tr>
            {% endif %}

            {% if doc.document_verified_state.name == 'VERIFICATION_FAILED' %}
            <tr>
               <th>Failure Reason</th>
               <td>{{ doc.document_verified_comment }}</td>
            </tr>
            {% endif %}

         </table>
         <h2>Document Details</h2>
         <table>
            <tr>
               <th>Change of Name Date</th>
               <td>{{ doc.change_of_name_date_as_string }}</td>
            </tr>

            {% if doc.document_type == "Marriage Certificate" %}
            <tr>
               <th>Age On Certificate</th>
               <td>{{ doc.age_on_certificate }}</td>
            </tr>
            <tr>
               <th>Registration District</th>
               <td>{{ doc.registration_district }}</td>
            </tr>
            <tr>
               <th>Marriage Number</th>
               <td>{{ doc.marriage_number }}</td>
            </tr>
            {% endif %}

            {% if doc.document_type == "Deed Poll" %}
            <tr>
               <th>Registered With Courts</th>
               <td>
                  {% if doc.registered_with_courts %}
                  Yes
                  {% else %}
                  No
                  {% endif %}</td>
            </tr>
            {% endif %}

            {% if doc.document_type == "Decree Absolute" %}
            <tr>
               <th>Issuing Court</th>
               <td>{{ doc.issuing_court }}</td>
            </tr>
            <tr>
               <th>No. of Matter</th>
               <td>{{ doc.number_of_matter }}</td>
            </tr>
            <tr>
               <th>Associated Document</th>
               <td>
                  <a href="{{ url_for('manage_document', doc_id=doc.marriage_certificate_details.document_id) }}">
                  {{ doc.marriage_certificate_details.doc_type_with_date }}
                  </a></td>
            </tr>
            {% endif %}

            {% if doc.old_forenames != "" %}
               <tr>
                  <th>Previous Forename(s)</th>
                  <td>{{ doc.old_forenames }}</td>
               </tr>
            {% endif %}
            {% if doc.old_surname != "" %}
               <tr>
                  <th>Previous Surname</th>
                  <td>{{ doc.old_surname }}</td>
               </tr>
            {% endif %}
            {% if doc.new_forenames != "" %}
               <tr>
                  <th>New Forename(s)</th>
                  <td>{{ doc.new_forenames }}</td>
               </tr>
            {% endif %}
            {% if doc.new_surname != "" %}
               <tr>
                  <th>New Surname</th>
                  <td>{{ doc.new_surname }}</td>
               </tr>
            {% endif %}
            <tr>
               <th>Address</th>
               <td>{{ doc.address.house_name_no }}<br />
               {{ doc.address.line_1 }}<br />
               {% if doc.address.line_2 != "" %}{{ doc.address.line_2 }}<br />{% endif %}
               {{ doc.address.town_city }}<br />
               {{ doc.address.postcode }}</td>
            </tr>
         </table>

         <h2>Actions</h2>
         {% if doc.document_verified_state.name == 'NOT_VERIFIED' %}
            <a href="{{ url_for('verify_document', code=0) }}">
               <div class="general_actions_button">Get Document Verified</div></a>
         {% endif %}
         <a href="{{ url_for('remove_document', doc_id=doc.document_id) }}">
            <div class="general_actions_button">Remove Document</div></a>
         <a href="{{ url_for('manage_all_documents') }}">
            <div class="general_actions_button">Return to Manage Documents</div></a>
      </div>
      {% endblock %}
   </body>
