<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: View Document ({{ doc.document_type }})</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>View Document Image: {{ doc.document_type }}</h1>
         <img class="upload_image" src={{url_for('static', filename='uploads/' + doc.uploaded_file_path)}} />

         <p>
            <form action="{{ url_for('manage_document', doc_id=doc.document_id) }}">
               <button class="process_back_button" type="submit">Return to Document</button>
            </form>
         </p>
      </div>
      {% endblock %}
   </body>
