<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name: Account Home</title>
   </head>
   <body>
      {% extends "template_general.html" %}
      {% block content %}
      <div class="main_w_nav">
         <h1>Account Home</h1>
         <p>Welcome! I'm currently logged in as: {{ user.forenames }} {{ user.surname }} ({{ user.email }}).</p>
         {% if user.docs|length == 0 %}
            <div class="darkened_section">
               <h2>Getting Started</h2>
               <p>Before you can start using this service, you will need to upload a copy of your name change
                  documentation.  Click the Add Document option below to get started adding a new document!</p>
               <a href="{{ url_for('new_document_selection') }}">
                  <div class="recommended_actions_button">Add a new document</div></a>
            </div>
         {% else %}
            <h2>My Uploaded Documents</h2>
            <table>
               <tr>
                  <th>Document</th>
                  <th>State</th>
                  <th>Total Access Codes</th>
                  <th>Active Codes</th>
                  <th>Expired Codes</th>
               </tr>
               {% for table_entry in table_data %}
                  <tr>
                     <td>{{ table_entry["doc_name"] }}</td>
                        {% if table_entry["doc_state"].name == 'VERIFIED' %}
                           <td class="center_content"><img class="icon_image" title="Verified"
                                    src={{url_for('static', filename='verified_tick.png')}}></td>
                        {% elif table_entry["doc_state"].name == 'AWAITING_VERIFICATION' %}
                           <td class="center_content"><img class="icon_image" title="Awaiting Verification"
                                    src={{url_for('static', filename='awaiting_verification.png')}}></td>
                        {% elif table_entry["doc_state"].name == 'VERIFICATION_FAILED' %}
                           <td class="center_content"><img class="icon_image" title="Verification Failed"
                                    src={{url_for('static', filename='verification_failed.png')}}></td>
                        {% elif table_entry["doc_state"].name == 'NOT_APPLICABLE' %}
                           <td class="center_content"><img class="icon_image" title="Not Applicable"
                                    src={{url_for('static', filename='not_applicable.png')}}></td>
                        {% else %}
                           <td class="center_content"><img class="icon_image" title="Uploaded"
                                    src={{url_for('static', filename='uploaded.png')}}></td>
                        {% endif %}
                     <td class="center_content">{{ table_entry["total_codes"] }}</td>
                     <td class="center_content">{{ table_entry["active_codes"] }}</td>
                     <td class="center_content">{{ table_entry["expired_codes"] }}</td>
                  </tr>
               {% endfor %}
            </table>
            <p><div class="spacer"></div></p>
            <div class="darkened_section">
               <h2>Recommended Actions</h2>
               <p>These are the actions we recommend taking next:</p>
               <a href="{{ url_for('generate_code_document_selection') }}">
                  <div class="recommended_actions_button">Generate a new access code</div></a>
               {% if user.access_codes|length > 0 %}
                  <a href="{{ url_for('manage_all_access_codes') }}">
                     <div class="recommended_actions_button">Manage existing access codes</div></a>
               {% endif %}
            </div>
         {% endif %}
      </div>
      {% endblock %}
   </body>
