<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name</title>
      <link rel="stylesheet" type="text/css" href="../static/default.css" />
   </head>
   <body>
      <a href="{{ url_for('account_home') }}"><div class="nav_button top_button">Account Home</div></a>
      <a href="{{ url_for('new_document_selection') }}"><div class="nav_button">Add New Document</div></a>
      {% if user.docs|length > 0 %}
      <a href="{{ url_for('manage_all_documents') }}"><div class="nav_button">Manage Documents</div></a>
      {% endif %}
      {% if user.docs|length > 0 %}
      <a href="{{ url_for('generate_code_document_selection') }}"><div class="nav_button">Generate Access Code</div></a>
      {% endif %}
      {% if user.access_codes|length > 0 %}
      <a href="{{ url_for('manage_all_access_codes') }}"><div class="nav_button">Manage Access Codes</div></a>
      {% endif %}
      <div class="bottom_button">
         <a href="{{ url_for('edit_profile') }}"><div class="nav_button">Edit Profile</div></a>
         <a href="{{ url_for('logout') }}"><div class="nav_button">Logout</div></a>
      </div>
   </body>
</html>