<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name</title>
      <link rel="stylesheet" type="text/css" href="../static/default.css" />
   </head>
   <body>
      <header>
         <a href="{{ url_for('index') }}"><img class="header_image"
                                               src={{url_for('static', filename='placeholder_logo.png')}}></a>
         <div class="header_text">Change Your Name</div>
      </header>
      {% if nav.show_nav %}
      <div class="nav">
         {% include "navigation.html" %}
      </div>
      {% endif %}

      {% block content %}
      {% endblock %}
      <footer>
         <div class="footer">
            <div class="links"><a class="footer_link" href="{{ url_for('about') }}">About</a> |
               <a class="footer_link" href="{{ url_for('how_it_works') }}">How It Works</a> |
               <a class="footer_link" href="{{ url_for('faq') }}">FAQ</a> |
               <a class="footer_link" href="{{ url_for('contact') }}">Contact</a></div>
            <div class="copyright">&#169; CYN 2020</div>
         </div>
      </footer>
   </body>
</html>