<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name</title>
      <link rel="stylesheet" type="text/css" href="../static/default.css" />
   </head>
   <body>
      <header>
         <div class="container">
            <h1 class="logo">Change Your Name</h1>
            <strong>
               <nav>
                  <ul class="menu">
                      <li>test</li>
                  </ul>
               </nav>
            </strong>
         </div>
      </header>
      {% block content %}
      {% endblock %}
   </body>
</html>