<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Change Your Name</title>
      <link rel="stylesheet" type="text/css" href="../static/default.css" />
   </head>
   <body>
      <header>
         <div class="header_image"><img src={{url_for('static', filename='placeholder_logo.png')}} width="50%" height="50%"></div>
         <div class="header_text">Change Your Name</div>
      </header>
      <div class="main">
      {% block content %}
      {% endblock %}
      </div>
      <footer>
         <div class="footer">
            <div class="links">About | How It Works | FAQ | Contact</div>
            <div class="copyright">&#169; CYN 2020</div>
         </div>
      </footer>
   </body>
</html>